aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
altair
annotated-doc
annotated-types
anyio
attrs
authlib
av
banks
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
chromedriver-autoinstaller
click
cohere
colorama
coloredlogs
cryptography
cssselect
dataclasses-json
defusedxml
deprecated
deprecation
dirtyjson
distro
docstring-parser
eval-type-backport
fastapi
fastavro
feedfinder2
feedparser
filelock
filetype
flatbuffers
frozenlist
fsspec
gitdb
gitpython
googleapis-common-protos
greenlet
griffe
grpcio
h11
h2
hpack
html2text
httpcore
httpx
huggingface-hub
humanfriendly
hyperframe
idna
importlib-metadata
jieba3k
jinja2
jira
jiter
joblib
jsonschema
jsonschema-specifications
livekit-agents
livekit-agents
livekit-agents
livekit-agents
livekit-agents
livekit-agents
livekit-agents
livekit-agents
livekit-agents
livekit-agents
livekit-agents
llama-cloud
llama-cloud-services
llama-index
llama-index
llama-index
llama-index
llama-index
llama-index
llama-index
llama-index
llama-index
llama-index
llama-index
llama-index
llama-index
llama-index
llama-index
llama-index
llama-index
llama-index
llama-parse
lxml
lxml-html-clean
markdown-it-py
markdownify
markupsafe
marshmallow
mdurl
mpmath
multidict
mypy-extensions
narwhals
nest-asyncio
networkx
newspaper3k
nltk
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventionsb1
outcome
oxylabs
packaging
pandas<2.3.0
pillow
pinecone
pinecone-client
pinecone-plugin-assistant
pinecone-plugin-interface
platformdirs
playwright
portalocker
prometheus-client
propcache
protobuf
psutil
pyarrow
pycparser
pydantic
pydantic-core
pydeck
pyee
pygments
pyjwt
pypdf
pyreadline3
pysocks
python-dateutil
python-dotenv
python-multipart
pytz
pyyaml
qdrant-client
referencing
regex
requests
requests-file
requests-oauthlib
requests-toolbelt
rich
rpds-py
safetensors
selenium
setuptools
sgmllib3k
shellingham
six
smmap
sniffio
sortedcontainers
sounddevice
soupsieve
spider-client
sqlalchemy
starlette
streamlit
striprtf
sympy
tenacity
tiktoken
tinysegmenter
tldextract
tokenizers
toml
torch
tornado
tqdm
transformers
trio
trio-websocket
typer
types-protobuf
types-requests
typing-extensions
typing-inspect
typing-inspection
tzdata
urllib3
uvicorn
validators
watchdog
watchfiles
weaviate-client
websocket-client
websockets
wrapt
wsproto
yarl
zipp
