fastapi
uvicorn
gunicorn
python-multipart
llama-index
llama-index-agent-openai
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-readers-file
llama-index-readers-web
llama-index-vector-stores-pinecone
llama-index-vector-stores-weaviate
pandas<2.3.0
python-dotenv
httpx
pydantic
motor
openai
jinja2
newspaper3k
beautifulsoup4
aiofiles
aiosqlite
altair
anyio
attrs
authlib
av
banks
blinker
cachetools
certifi
cffi
charset-normalizer
click
cohere
colorama
coloredlogs
cryptography
cssselect
dataclasses-json
defusedxml
deprecated
deprecation
dirtyjson
distro
docstring-parser
eval-type-backport
fastavro
feedfinder2
feedparser
filelock
filetype
flatbuffers
frozenlist
fsspec
gitdb
gitpython
googleapis-common-protos
greenlet
griffe
grpcio
h11
h2
hpack
html2text
httpcore
huggingface-hub
humanfriendly
hyperframe
idna
importlib-metadata
jieba3k
jira
jiter
joblib
jsonschema
jsonschema-specifications
livekit
livekit-agents
livekit-api
livekit-plugins-cartesia
livekit-plugins-deepgram
livekit-plugins-noise-cancellation
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-turn-detector
livekit-protocol
lxml
lxml-html-clean
markdown-it-py
markdownify
markupsafe
marshmallow
mdurl
mpmath
multidict
mypy-extensions
narwhals
nest-asyncio
networkx
nltk
numpy
oauthlib
onnxruntime
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
outcome
oxylabs
packaging
pillow
pinecone
pinecone-client
platformdirs
playwright
portalocker
prometheus-client
propcache
protobuf
psutil
pyarrow
pycparser
pydeck
pyee
pygments
pyjwt
pypdf
pyreadline3
pysocks
python-dateutil
python-multipart
pytz
pyyaml
qdrant-client
referencing
regex
requests
requests-file
requests-oauthlib
requests-toolbelt
rich
rpds-py
safetensors
selenium
setuptools
sgmllib3k
shellingham
six
smmap
sniffio
sortedcontainers
sounddevice
soupsieve
spider-client
sqlalchemy
starlette
streamlit
striprtf
sympy
tenacity
tiktoken
tinysegmenter
tldextract
tokenizers
toml
torch
tornado
tqdm
transformers
trio
trio-websocket
typer
types-protobuf
types-requests
typing-extensions
typing-inspect
typing-inspection
tzdata
urllib3
validators
watchdog
watchfiles
weaviate-client<4.12.0
websocket-client
websockets
wrapt
wsproto
yarl
zipp
